<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rightname.asthmaapp">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_inhaler"
        android:supportsRtl="true"
        android:theme="@style/Theme.AsthmaApp">
        <activity
            android:name=".view.activities.SplashScreenActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".view.activities.AlarmMeasureNotificationActivity" />
        <activity android:name=".view.activities.AlarmMedicamentNotificationActivity" />
        <activity android:name=".view.activities.MainActivity"></activity>
    </application>

</manifest>